In [3]:
import requests
url = 'https://jsonplaceholder.typicode.com/posts'
response = requests.get(url)
data = response.json()

In [4]:
import pandas as pd
df = pd.DataFrame(data)
df.head()

,userId,id,title,body
0,1,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...
1,1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...
2,1,3,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...
3,1,4,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...
4,1,5,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...

In [5]:

df.to_csv('posts.csv', index=False)

d.

In [6]:
import matplotlib.pyplot as plt

# Example: Count posts per user
user_counts = df['userId'].value_counts().sort_index()

plt.figure(figsize=(10,6))
user_counts.plot(kind='bar')
plt.title('Number of Posts per User')
plt.xlabel('User ID')
plt.ylabel('Post Count')
plt.grid(True)
plt.show()

ModuleNotFoundError: No module named 'matplotlib'